/* src/css/RegisterTypePage.css */

.register-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .register-type-container h2 {
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .button-group button {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    transition: background-color 0.2s ease;
  }
  
  .button-group button:hover {
    background-color: #e2e2e2;
  }
  